body {
    background-color : #FFFEFD;
    font-family : calibri ;
}

@font-face {
    font-family: 'lobster';
    src: url(../police/lobster/Lobster\ 1.4.otf);
}
h1 {
    color : #FF7F3F;
    text-align : center;
    font-family: 'lobster';
    font-size : 80px;
}
.container {
    display : flex;
    justify-content : space-between;
    flex-direction : row;
}
.title {
    font-family : 'lobster';
    color : #FF7F3F;
    font-size : 40px;
    margin-bottom: 2px;
}
.account {
    justify-content : flex-end;
}

nav {
    border-radius : 5px;
    font-size : 20px 
} 
#logo {
    width : 18vh;
    height : 14vh;
    
}
a {
    text-decoration: none;
    color : #312C2E;
}
footer {
    background-color: #BBC98F ;
}

img {
    width :50px;
    height : 50px;
}

.rs {
    margin : 5px;
}
.pic-index {
    width : 99vw;
    height : 45vh;
    margin : 8px;
}
.logo2 {
    width : 14vh;
    height : 14vh;
}

#info > div {
    border-radius: 5px;
    border : 2px solid #312C2E;
    margin : 2px;
}

/*Desktop menu**************/
#navbar-desktop {
    display: flex;
    justify-content: center;
    background-color: #BBC98F;
}
.navbar-desktop a{
    color: white;
    font-weight: 800;
}

/*Mobile menu**********/
#navbar-mobile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#navbar-mobile .burger {
    color: #312C2E;
}
#navbar-mobile .burger:active {
    scale:0.99;
}

/*fenetre modale*/
.modal{
    background-color: #BBC98F;
    width: 88%;
    height: 100vh;

    position: fixed;
    top:0%;
    left:100%;
    transition: left 1s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*CSS à afficher lors du clique sur burger (JS)*/
.modal.show-modal{
    left: 12%;
}
.burger.show-modal{
    position: fixed;
    top:1rem;
}
.modal a{
    font-size: 4rem;
    color:#312C2E;
}
/*Faire disparaitre le menu mobile*/
#navbar-mobile{
    display: none;    
}

/*Pour tout ecran de 600px au maximum*/
@media screen and (max-width:600px) {
    #navbar-desktop{
        display: none;
    }
    #navbar-mobile{
        display: flex;
    }
}